.actions
	.container
		.row
			.column.xs-12
				h2.title.title--centered.title--decorated Акции
				.actions__wrapper
					.actions-slider
						.actions-slider__item-wrapper
							a.actions-slider__item
								figure.actions-slider__image
									img(src='images/action-1.png')
								strong.actions-slider__term-block
									span.actions-slider__term Срок действия до 27.02.2017
						.actions-slider__item-wrapper
							a.actions-slider__item
								figure.actions-slider__image
									img(src='images/action-2.png')
								strong.actions-slider__term-block
									span.actions-slider__term Срок действия до 27.02.2017
						.actions-slider__item-wrapper
							a.actions-slider__item
								figure.actions-slider__image
									img(src='images/action-2.png')
								strong.actions-slider__term-block
									span.actions-slider__term Срок действия до 27.02.2017
						.actions-slider__item-wrapper
							a.actions-slider__item
								figure.actions-slider__image
									img(src='images/action-1.png')
								strong.actions-slider__term-block
									span.actions-slider__term Срок действия до 27.02.2017
						.actions-slider__item-wrapper
							a.actions-slider__item
								figure.actions-slider__image
									img(src='images/action-2.png')
								strong.actions-slider__term-block
									span.actions-slider__term Срок действия до 27.02.2017
						.actions-slider__item-wrapper
							a.actions-slider__item
								figure.actions-slider__image
									img(src='images/action-1.png')
								strong.actions-slider__term-block
									span.actions-slider__term Срок действия до 27.02.2017


