.brands
	.container
		.row.align-justify.valign-middle
			.column.xs-12.sm-3
				a.brands__item
					img(src='images/brand-1.png')
			.column.xs-12.sm-3
				a.brands__item
					img(src='images/brand-2.png')
			.column.xs-12.sm-3
				a.brands__item
					img(src='images/brand-3.png')
			.column.xs-12.sm-3
				a.brands__item
					img(src='images/brand-4.png')

