.container(itemscopeб itemtype="http://schema.org/BreadcrumbList")
	.breadcrumb__wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a.breadcrumb__link(href="/", title="Главная страница", itemprop="url") Главная
			li.breadcrumb__item.is-active Каталог
		a.btn.btn--light 
			| Наши лекторы
			.icon-blue-button-arrow
