.store__wrapper
	.container
		.store
			h1.title.title--decorated.title--store Каталог
			.row
				.column.xs-12.sm-12.md-3
					aside.store__aside
						ul.menu
							li.menu__item
								a.menu__link 
									span Категории
								ul.submenu
									li.submenu__item.is-has-submenu
										a.submenu__link 
											span Стоматологические установки (можно раскрыть)
										ul.submenu2
											li.submenu2__item
												a.submenu2__link 
													span Компрессорно-вакуумное оборудование
											li.submenu2__item
												a.submenu2__link.is-active
													span Рентгеновские аппараты
											li.submenu2__item
												a.submenu2__link 
													span CAD/CAM системы
											li.submenu2__item
												a.submenu2__link 
													span Стерилизационное оборудование
											li.submenu2__item
												a.submenu2__link 
													span Стоматологические инстументы
									li.submenu__item.is-has-submenu
										a.submenu__link 
											span Компрессорно-вакуумное оборудование (можно раскрыть)
										ul.submenu2
											li.submenu2__item
												a.submenu2__link 
													span Компрессорно-вакуумное оборудование
											li.submenu2__item
												a.submenu2__link 
													span Рентгеновские аппараты
											li.submenu2__item
												a.submenu2__link 
													span CAD/CAM системы
											li.submenu2__item
												a.submenu2__link 
													span Стерилизационное оборудование
											li.submenu2__item
												a.submenu2__link 
													span Стоматологические инстументы
									li.submenu__item
										a.submenu__link 
											span Рентгеновские аппараты
									li.submenu__item
										a.submenu__link 
											span CAD/CAM системы
									li.submenu__item
										a.submenu__link 
											span Стерилизационное оборудование
									li.submenu__item
										a.submenu__link 
											span Стоматологические инстументы
									li.submenu__item
										a.submenu__link 
											span Эндодонтическое оборудование
									li.submenu__item
										a.submenu__link 
											span Гигиена и профилактика
									li.submenu__item
										a.submenu__link 
											span Хирургическое оборудование
									li.submenu__item
										a.submenu__link 
											span Система имплатнации
									li.submenu__item
										a.submenu__link 
											span Лабораторное оборудование
									li.submenu__item
										a.submenu__link 
											span Мебель для стоматологии
										
							li.menu__item
								a.menu__link 
									span Производитель 
								ul.submenu
									li.submenu__item
										a.submenu__link 
											span Стоматологические установки
									li.submenu__item
										a.submenu__link 
											span Компрессорно-вакуумное оборудование
									li.submenu__item
										a.submenu__link 
											span Рентгеновские аппараты
									li.submenu__item
										a.submenu__link 
											span CAD/CAM системы
									li.submenu__item
										a.submenu__link 
											span Стерилизационное оборудование
									li.submenu__item
										a.submenu__link 
											span Стоматологические инстументы
									li.submenu__item
										a.submenu__link 
											span Эндодонтическое оборудование
									li.submenu__item
										a.submenu__link 
											span Гигиена и профилактика
									li.submenu__item
										a.submenu__link 
											span Хирургическое оборудование
									li.submenu__item
										a.submenu__link 
											span Система имплатнации
									li.submenu__item
										a.submenu__link 
											span Лабораторное оборудование
									li.submenu__item
										a.submenu__link 
											span Мебель для стоматологии
							li.menu__item
								a.menu__link 
									span Вес 
								ul.submenu
									li.submenu__item
										a.submenu__link 
											span Стоматологические установки
									li.submenu__item
										a.submenu__link 
											span Компрессорно-вакуумное оборудование
									li.submenu__item
										a.submenu__link 
											span Рентгеновские аппараты
									li.submenu__item
										a.submenu__link 
											span CAD/CAM системы
									li.submenu__item
										a.submenu__link 
											span Стерилизационное оборудование
									li.submenu__item
										a.submenu__link 
											span Стоматологические инстументы
									li.submenu__item
										a.submenu__link 
											span Эндодонтическое оборудование
									li.submenu__item
										a.submenu__link 
											span Гигиена и профилактика
									li.submenu__item
										a.submenu__link 
											span Хирургическое оборудование
									li.submenu__item
										a.submenu__link 
											span Система имплатнации
									li.submenu__item
										a.submenu__link 
											span Лабораторное оборудование
									li.submenu__item
										a.submenu__link 
											span Мебель для стоматологии
										
				.column.xs-12.sm-12.md-9
					.store__content
						header.store__sort-by
							.store__sort-by--selects
								fieldset.store__sort-by--cost
									label(for='cost-select') Сортировать по
									select(id='cost-select')
										option(value='Увеличению цены') Увеличению цены
										option(value='Увеличению цены') Уменьшению цены
								fieldset
									label(for='num-select') Выводить по
									select(id='num-select')
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
										option(value='6') 6
										option(value='7') 7
										option(value='8') 8
										option(value='9') 9
							.store__sort-by--views
								a.view-link.view-link--tiled.is-active
									b.fa.fa-th(aria-hidden='true')
								a.view-link.view-link--list
									b.fa.fa-list-ul(aria-hidden='true')
						.store__body
							.row.valign-stretch
								.column.xs-12.sm-6.md-6.lg-4.product__column
									.product
										a.product__link.product__link--image
											figure.product__image
												img(src='http://placeimg.com/640/480/any')
										.product__body
											a.product__link.product__link--title
												h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
											.product__content
												.product__info
													dl.product__manufacturer
														dt Производитель
														dd Den t sply Si rona sply Si rona sply Si rona sply Si rona sply Si rona sply Si ronaDen t sply Si rona sply Si

												footer.product__footer
													.row.valign-middle.gutter-remove
														.column.xs-6 
															s.product__cost--old 65 000 руб. 
															strong.product__cost 40 000 руб.
														.column.xs-6
															a.btn.btn--secondary
																| Сравнить
																b.fa.fa-list-ul(aria-hidden='true')

													a.btn.btn--warning 
														| Добавить в корзину
														b.icon-basket-white
								.column.xs-12.sm-6.md-6.lg-4.product__column
									.product
										a.product__link.product__link--image
											figure.product__image
												img(src='http://placeimg.com/640/480/any')
										.product__body
											a.product__link.product__link--title
												h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
											.product__content
												.product__info
													dl.product__manufacturer
														dt Производитель
														dd Den t sply Si rona sply Si rona sply Si rona sply Si rona sply Si rona sply Si 

												footer.product__footer
													.row.valign-middle.gutter-remove
														.column.xs-6 
															s.product__cost--old 65 000 руб. 
															strong.product__cost 40 000 руб.
														.column.xs-6
															a.btn.btn--secondary
																| Сравнить
																b.fa.fa-list-ul(aria-hidden='true')

													a.btn.btn--warning 
														| Добавить в корзину
														b.icon-basket-white
								.column.xs-12.sm-6.md-6.lg-4.product__column
									.product
										a.product__link.product__link--image
											figure.product__image
												img(src='http://placeimg.com/640/480/any')
										.product__body
											a.product__link.product__link--title
												h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL  MELAG MEDICAL MELAG MEDICAL  MELAG MEDICAL MELAG MEDICAL  MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
											.product__content
												.product__info
													dl.product__manufacturer
														dt Производитель
														dd Den t sply Si rona sply Si rona sply  rona sply Si rona sply Si rona sply Si rona sply Si rona sply Si 

												footer.product__footer
													.row.valign-middle.gutter-remove
														.column.xs-6 
															s.product__cost--old 65 000 руб. 
															strong.product__cost 40 000 руб.
														.column.xs-6
															a.btn.btn--secondary
																| Сравнить
																b.fa.fa-list-ul(aria-hidden='true')

													a.btn.btn--warning 
														| Добавить в корзину
														b.icon-basket-white
								.column.xs-12.sm-6.md-6.lg-4.product__column
									.product
										a.product__link.product__link--image
											figure.product__image
												img(src='http://placeimg.com/640/480/any')
										.product__body
											a.product__link.product__link--title
												h3.product__title MELAG MEDICAL CHNOLOGY
											.product__content
												.product__info
													dl.product__manufacturer
														dt Производитель
														dd Den t sply Si 

												footer.product__footer
													.row.valign-middle.gutter-remove
														.column.xs-6 
															s.product__cost--old 65 000 руб. 
															strong.product__cost 40 000 руб.
														.column.xs-6
															a.btn.btn--secondary
																| Сравнить
																b.fa.fa-list-ul(aria-hidden='true')

													a.btn.btn--warning 
														| Добавить в корзину
														b.icon-basket-white
								.column.xs-12.sm-6.md-6.lg-4.product__column
									.product
										a.product__link.product__link--image
											figure.product__image
												img(src='http://placeimg.com/640/480/any')
										.product__body
											a.product__link.product__link--title
												h3.product__title MELAG MEDICAL 
											.product__content
												.product__info
													dl.product__manufacturer
														dt Производитель
														dd Den t sply Si rona sply Si  

												footer.product__footer
													.row.valign-middle.gutter-remove
														.column.xs-6 
															s.product__cost--old 65 000 руб. 
															strong.product__cost 40 000 руб.
														.column.xs-6
															a.btn.btn--secondary
																| Сравнить
																b.fa.fa-list-ul(aria-hidden='true')

													a.btn.btn--warning 
														| Добавить в корзину
														b.icon-basket-white
								.column.xs-12.sm-6.md-6.lg-4.product__column
									.product
										a.product__link.product__link--image
											figure.product__image
												img(src='http://placeimg.com/640/480/any')
										.product__body
											a.product__link.product__link--title
												h3.product__title MELAG MEDICAL MELAG
											.product__content
												.product__info
													dl.product__manufacturer
														dt Производитель
														dd Den t sply Si rona sply Si rona sply  rona sply Si rona sply Si rona sply Si rona sply Si rona sply Si Si rona sply Si rona sply  rona sply Si rona sply Si rona sply Si rona sply Si rona sply S

												footer.product__footer
													.row.valign-middle.gutter-remove
														.column.xs-6 
															s.product__cost--old 65 000 руб. 
															strong.product__cost 40 000 руб.
														.column.xs-6
															a.btn.btn--secondary
																| Сравнить
																b.fa.fa-list-ul(aria-hidden='true')

													a.btn.btn--warning 
														| Добавить в корзину
														b.icon-basket-white


						footer.store__footer
							nav.pagination__wrapper(aria-label="Постраничная навигация")
								ul.pagination
									li.pagination__item
										a.pagination__link 
											b.fa.fa-long-arrow-left(aria-hidden="true")
									li.pagination__item
										a.pagination__link 1
									li.pagination__item
										a.pagination__link.is-active 2
									li.pagination__item
										a.pagination__link ...
									li.pagination__item
										a.pagination__link 8
									li.pagination__item
										a.pagination__link 
											b.fa.fa-long-arrow-right(aria-hidden="true")






				