section.media
	.container
		h1.title.title--decorated Правовой ликбез для администратора стоматологической клиники: образованный администратор как реальная правовая защита

		.row.align-justify
			.column.xs-12.sm-12.md-7
				.box
					.row
						.column.xs-12.sm-12.md-5
							dl.course__list
								dt.course__dt Условия участия:
								dt.course__dd единовременное приобретение продукции Аlpha-Bio Tec. на $ 2000.
						.column.xs-12.sm-12.md-7
							dl.course__list
								dt.course__dt Условия участия:
								dt.course__dd единовременное приобретение продукции Аlpha-Bio Tec. на $ 2000.
					p В подразделении фирмы есть несколько стоматологических клиник, успешно работающих на Московском рынке: 

					p В 2000 мы открыли уникальный, не имеющий аналогов GERMAN DENTAL CENTER (GDC) - Немецкий Стоматологический Центр.Немецкий Стоматологический Центр расположен в Лефортово, районе Москвы, исторически известном, как "немецкая слобода". На сегодняшний день можно смело заявить, что GERMAN DENTAL CENTER является одной из лучших клиник в Европе. Стоматологический центр Альбис оснащен самым современным и совершенным оборудованием ведущих немецких производителей. Клиника предлагает полный спектр услуг по диагностике и лечению стоматологических заболеваний по различным направлениям.
			.column.xs-12.sm-12.md-4
				.course__list-wrapper
					dl.course__list.course__list--cost
						dt.course__dt Стоимость семинара:
						dt.course__dd 10 000 руб.

					a.btn.btn--warning(data-fancybox="seminar", data-src="#seminar" ,href="javascript:;")
						| Запись на семинар
						b.icon-description

section.media__description
	.container
		h2.title.title--decorated Расписание

		.row.align-center
			.column.xs-12.sm-12.md-10
				.description
					header.description__header
						a.description__link.is-active День 1
						a.description__link День 2
						a.description__link День 3
					.description__body
						.description__item.is-active
							.description__content
								h3 Первый день. Хирургия.
								h4 Теоретическая часть: 
								ul
									li История имплантологии. 
									li Внутрикостные имплантаты. Виды. Особенности. 
									li Остеогенез. Как это работает. 
									li Показания, противопоказания, факторы риска при имплантации. Ведение  медицинской документации. 
								h4 Хирургический этап: 
								ul
									li Архитектоника и анатомия челюстных костей. 
									li Планирование  типоразмера имплантата и зоны имплантации. Как правильно выбрать имплантат? Межкортикальная фиксация, использование хирургического шаблона, метода  "Периотест". 
									li Предоперационная подготовка. Методы анастезии. 
									li Инструментарий  и оборудование при дентальной имплантации. Стерилизация инструментария, оборудования и помещения. Шовный материал. Виды, классификация. 
									li Методики дентальной имплантации. Установка имплантата. Знакомство с системой Alpha-Bio Tec. Хирургический протокол для различных типов кости и различных форм имплантатов. Система "Парагайд".  
									li Обзор биоматериалов (ксеноплант, аллопласт, коллагеновая мембрана, викриловая мембрана,  коллагеновый флис).
									li Ошибки и осложнения при имплантации. 
								h4 Практическая часть: 
								ul
									li Работа на фантомах. Установка имплантатов системы Alpha-Bio Tec. Вопросы и ответы. 


						.description__item
							.description__content
								h3 Второй день. Хирургия.


						.description__item
							.description__content
								h3 Третий день. Хирургия.


section.course-form__wrapper
	.container
		h3.course-form__title По всем организационным вопросам просим Вас обращаться в компанию «Н.Селла»
		.row.align-center
			.column.xs-12.sm-11.md-9
				form.course-form
					.row
						.column.xs-12.sm-12.md-6
							.course-form__row
								input.course-form--username(type='text', placeholder='Введите ваше имя', required)
							.course-form__row
								input.course-form--userphone(type='tel', placeholder='Введите ваш номер', required)
							.course-form__row.course-form__row--send
								.row.align-justify
									.column.xs-12.sm-6.md-5
										label.course-form__file-download
											span Прикрепить файл
											input(type='file')
									.column.xs-12.sm-6.md-7
										button.btn.btn--default Отправить заявку
								

						.column.xs-12.sm-12.md-6
							.course-form__row
								textarea.course-form--usermessage(placeholder='Задайте интересующий вас вопрос', required)
