.payment
	.container
		h2.title.title--decorated Способы оплаты
		.row
			.column.xs-12.sm-6
				.payment__item
					h3.payment__title Для юридических лиц:
					ul.payment__list
						li Оплата наличными при самовывозе в нашем офисе.
						li Оплата по безналичному расчету, на основании выставленного счета.
			.column.xs-12.sm-6
				.payment__item
					h3.payment__title Для физических лиц:
					ul.payment__list
						li Оплата наличными в нашем офисе 
						li По картам Mastercard, Visa, МИР. После подтверждения заказа менеджером, на основании выставленного счета 
						li Оплата картой в сети Интернет  (интернет – эквайринг). Оплата производится после подтверждения заказа менеджером!




 








