.requisites
	.container
		h2.title.title--decorated Наши реквизиты
		.row
			.column.xs-12.sm-6
				.requisites__item
					dl.requisites__list
						dt.requisites__term Наименование
						dd.requisites__definition ООО «Н.СЕЛЛА»
						dt.requisites__term Адрес
						dd.requisites__definition 111033, г. Москва  ул. Волочаевская,  д. 12А строение 1
						dt.requisites__term ИНН
						dd.requisites__definition 7705736554
						dt.requisites__term КПП
						dd.requisites__definition 772201001
						dt.requisites__term ОКПО
						dd.requisites__definition 95986216
			.column.xs-12.sm-6
				.requisites__item
					dl.requisites__list
						dt.requisites__term ОГРН
						dd.requisites__definition 1067746701681
						dt.requisites__term ВТБ 24 (ПАО)
						dd.requisites__definition г. Москва
						dt.requisites__term Расчетный счет
						dd.requisites__definition 40702810600000056690
						dt.requisites__term БИК
						dd.requisites__definition 044525716
						dt.requisites__term Корреспондентский счет
						dd.requisites__definition 30101810100000000716


