section.deliviery
	.container
		h1.title.title--decorated Доставка
		.deliviery__intro
			p Мы предоставляем вам возможность выбрать наиболее удобный способ доставки, в зависимости от объемов вашего заказа. Мы доставим ваш заказ как по Москве, так и по всей России. 
section.deliviery__bg
	img(src='images/deliviery-intro.png')