section.deliviery__list
	.container
		.row
			.column.xs-12.sm-12.md-4
				.deliviery__item
					b.icon-vacancies
					h2.deliviery__title Курьер
					p 
						i По Москве  (в пределах МКАД)  мы осуществляем бесплатную доставку.  
					p Доставка по г. Москве осуществляется на следующий рабочий день при условии оформления заказа до 17:00.
					p Срочная доставка (день в день) осуществляется силами транспортных компаний за счет клиента  при оформлении заказа до 12.00. 
					p 
						i Доставка по Московской области (до 100 км от МКАД) осуществляется с привлечением курьерских компаний.
					p Расчет производится по тарифам выбранной транспортной компании. 
					ul
						li 
							| "Курьер Сервис Экспресс". Рассчитать предварительную стоимость можно здесь: 
							a  
							| http://www.cse.ru/sitecontent/city-mosrus/lang-rus/content/131/
						li Деловые линии 
						li Пони Экспресс
					p 
						i Бесплатная доставка продукции АBT по МО -  при заказе на сумму более 5 000 рублей!
					p Берем на себя расходы по доставке оборудования, находящегося в нашем Техническом центре на гарантийном ремонте. 
			.column.xs-12.sm-12.md-4
				.deliviery__item
					b.icon-vacancies
					h2.deliviery__title Самовывоз
					p Вы можете забрать заказ самостоятельно или через доверенное лицо

					ul
						li 
							p В нашем офисе по адресу: г.Москва, Волочаевская улица, дом 12а, строение 1. 
							p 
								i Время работы: 
								span понедельник – четверг с 10.00 до 17.00, в пятницу до 16.00.
						li 
							p Крупногабаритное оборудование отгружается со склада в г. Химки, ул. Рабочая, д.19.  
							p 
								i Время работы: 
								span понедельник – четверг с 10.00 до 17.00, в пятницу до 16.00.
			.column.xs-12.sm-12.md-4
				.deliviery__item
					b.icon-vacancies
					h2.deliviery__title Доставка транспортной компанией
					p Мы осуществим организацию доставки ваших заказов в регионы России. Мы работаем с надежными транспортными компаниями:

					ul
						li Деловые Линии ЖелДорЭкспедиция
						li ЖелДорАльянс
						li ПЭК  (Калининград)
						li Ир-Траст, Элит Транс (Владикавказ Махачкала)
						li МТрансЛайн

					p Заказы отправляются авиа-, авто- или железнодорожным транспортом, в зависимости от того, какая схема доставки оптимальна в Ваш регион. Учитываются все нюансы вашего заказа. 
					p Расчет производится по тарифам выбранной транспортной компании.  Стоимость доставки может быть оплачена непосредственно транспортной компании. При формировании заказа мы рассчитаем ее для вас самостоятельно и сообщим при обработке заказа.
					p Также стоимость доставки может быть включена в стоимость товара (в этом случае вам не потребуется оплачивать доставку при получении товара).
					p Бесплатная доставка продукции АBT в регионы осуществляется при заказе на сумму более  10 000 рублей.