.detail
	.container
		h1.title INTEGO - Dentsply Sirona
		.row.valign-middle.align-justify
			.column.xs-12.sm-12.md-7
				.box 
					.slider__wrapper
						.carousel
							.carousel__item
								.carousel__img
									img(src='http://placeimg.com/840/880/any')
							.carousel__item
								.carousel__img
							.carousel__item
								.carousel__img
									img(src='http://placeimg.com/940/980/any')
							.carousel__item
								.carousel__img
									img(src='http://placeimg.com/240/480/any')
							.carousel__item
								.carousel__img
									img(src='http://placeimg.com/640/580/any')
							.carousel__item
								.carousel__img
									img(src='http://placeimg.com/600/680/any')
							.carousel__item
								.carousel__img
									img(src='http://placeimg.com/640/450/any')
						.slider__container
							.slider
								.slider__item
									.slider__img
										img(src='http://placeimg.com/840/880/any')
								.slider__item
									.slider__img
								.slider__item
									.slider__img
										img(src='http://placeimg.com/940/980/any')
								.slider__item
									.slider__img
										img(src='http://placeimg.com/240/480/any')
								.slider__item
									.slider__img
										img(src='http://placeimg.com/640/580/any')
								.slider__item
									.slider__img
										img(src='http://placeimg.com/600/680/any')
								.slider__item
									.slider__img
										img(src='http://placeimg.com/640/450/any')

			.column.xs-12.sm-12.md-4
				.box
					.brief__row
						.brief
							dl.brief__list
								dt.brief__param ID
								dd.brief__value 25
								dt.brief__param Производитель
								dd.brief__value Dentsply Sirona
								dt.brief__param Модель
								dd.brief__value TENEO
								dt.brief__param Артикул
								dd.brief__value 515255
							a.brief__download
								b.icon-download-arrow
								span Dentsply Sirona (инстукция к товару)

						.promotion-block
							strong.promotion-block__label Акция
							dl.promotion-block__list
								dt.promotion-block__param Цена
								dd.promotion-block__value
									s 90 000 руб.
								dt.promotion-block__param Цена по акции
								dd.promotion-block__value
									strong 60 000 руб.
									span 1 037 USD / 872 EUR
							footer.promotion-block__footer
								.row
									.column.xs-12.sm-7.md-7.lg-7
										a.btn.btn--warning
											| Добавить в корзину
											b.icon-basket-white(aria-hidden="true")
									.column.xs-12.sm-5.md-5.lg-5 
										a.btn.btn--secondary
											| Сравнить
											b.fa.fa-list-ul(aria-hidden="true")
									.column.xs-12.sm-7.md-12.lg-7
										a.btn.btn--light Получить консультацию

				
		.row.align-center
			.column.xs-12.sm-12.md-10
				.description
					header.description__header
						a.description__link.is-active Описание
						a.description__link Характеристики
						a.description__link Комплектация
						a.description__link Модели
					.description__body
						.description__item.is-active
							.description__content
								p NTEGO – лучшая установка в своем классе. Она опирается на мощь инноваций и превосходный отмеченный наградами дизайн наших стоматологических установок. Надежно содействуя эффективной врачебной клинике, INTEGO обладает всеми качествами, гарантирующими оптимальный рабочий процесс: эргономичным дизайном, высокими стандартами производства и отличным соотношением цены и качества – вот благодаря чему INTEGO является эталоном высокой надежности.

								h3.description__title Надежно содействуя эффективной врачебной клинике:

								ul
									li Стоматологическая установка с компактным гидроблоком для оптимального использования пространства.
									li Пользовательский интерфейс EasyPad для простой и интуитивной работы.
									li Компактный модуль ассистента с удобным позиционированием.
									li Контролируемое качество воды благодаря бутылке для автономной подачи воды.
									li Доступна модель TS с нижней подачей инструментов или CS с верхней подачей инструментов.

						.description__item
							.description__content
								h3.description__title Блок врача:
								ul
									li Верхняя подача инструментов;
									li Рассчитан на 5 инструментов;
									li Модуль для подключения турбинного наконечника с фиброоптикой;
									li Модуль для подключения турбинного наконечника с 4-канальным шлангом midwest;
									li Модуль для подключения пневматического микромотора;
									li Модуль для подключения пятого инструмента;
									li Автоматическая блокировка неиспользуемых инструментов при выборе одного;
									li Система антивсасывания для турбинных шлангов;
									li Негатоскоп;
									li Сенсорная панель управления всеми функциями установки;
									li Пневматический фиксатор блока врача в рабочем положении;
									li Поднос для инструментов. 
								h3.description__title Кресло пациента:
								ul
									li Электромеханическое с функцией памяти на 5 положений;
									li Система аварийной остановки движения кресла;
									li Артикуляционный подголовник для взрослого и детского приема;
									li Левый и правый подлокотники.
								h3.description__title Гидроблок:
								ul
									li Совмещен с креслом пациента;
									li Система автоматического наполнения водой стакана пациента и омыва плевательницы;
									li Автономная подача воды на инструменты;

						.description__item
							.description__content
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error numquam exercitationem praesentium eius optio, dolore, nesciunt quae atque accusamus adipisci quo expedita. Explicabo assumenda, sed eaque fugit qui nam!
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error numquam exercitationem praesentium eius optio, dolore, nesciunt quae atque accusamus adipisci quo expedita. Explicabo assumenda, sed eaque fugit qui nam!
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error numquam exercitationem praesentium eius optio, dolore, nesciunt quae atque accusamus adipisci quo expedita. Explicabo assumenda, sed eaque fugit qui nam!
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio error numquam exercitationem praesentium eius optio, dolore, nesciunt quae atque accusamus adipisci quo expedita. Explicabo assumenda, sed eaque fugit qui nam!
						.description__item
							.description__content
								.row.align-center
									.column.xs-12.sm-6.md-4.lg-4
										.product
											a.product__link.product__link--image
												figure.product__image
													img(src='http://placeimg.com/640/480/any')
											.product__body
												a.product__link.product__link--title
													h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
												.product__content
													.product__info
														.row.valign-middle.gutter-remove
															.column.xs-6 
																s.product__cost--old 65 000 руб.
															.column.xs-6.xs-text-right
																strong.product__cost 40 000 руб.
													footer.product__footer
														a.btn.btn--warning 
															| Добавить в корзину
															b.icon-basket-white

									.column.xs-12.sm-6.md-4.lg-4
										.product
											a.product__link.product__link--image
												figure.product__image
													img(src='http://placeimg.com/640/480/any')
											.product__body
												a.product__link.product__link--title
													h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
												.product__content
													.product__info
														.row.valign-middle.gutter-remove
															.column.xs-6 
																s.product__cost--old 65 000 руб.
															.column.xs-6.xs-text-right
																strong.product__cost 40 000 руб.
													footer.product__footer
														a.btn.btn--warning 
															| Добавить в корзину
															b.icon-basket-white

									.column.xs-12.sm-6.md-4.lg-4
										.product
											a.product__link.product__link--image
												figure.product__image
													img(src='http://placeimg.com/640/480/any')
											.product__body
												a.product__link.product__link--title
													h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
												.product__content
													.product__info
														.row.valign-middle.gutter-remove
															.column.xs-6 
																s.product__cost--old 65 000 руб.
															.column.xs-6.xs-text-right
																strong.product__cost 40 000 руб.
													footer.product__footer
														a.btn.btn--warning 
															| Добавить в корзину
															b.icon-basket-white
