.directions.animatedParent
	.container
		.directions__wrapper
			.row
				.column.xs-12.sm-12.md-4.valign-stretch
					a.directions__link.animated.fadeIn.delay-250
						figure.directions__img
							img(src='https://placeimg.com/485/178/any')
							figcaption.directions__caption Терапия 

				.column.xs-12.sm-12.md-8
					.box
						.row
							.column.xs-12
								a.directions__link.animated.fadeIn.delay-500
									figure.directions__img
										img(src='https://placeimg.com/485/179/any')
										figcaption.directions__caption Эндодонтия
						.row.mb0
							.column.xs-12.md-6.pl0
								a.directions__link.animated.fadeIn.delay-750
									figure.directions__img
										img(src='https://placeimg.com/486/178/any')
										figcaption.directions__caption Детская стоматология 
							.column.xs-12.md-6.pr0
								a.directions__link.animated.fadeIn.delay-1000
									figure.directions__img
										img(src='https://placeimg.com/485/177/any')
										figcaption.directions__caption Для зубных техников
			.row
				.column.xs-12.sm-12.md-6
					a.directions__link.animated.fadeIn.delay-1250
						figure.directions__img
							img(src='https://placeimg.com/485/176/any')
							figcaption.directions__caption Ортопедия 

				.column.xs-12.sm-12.md-6
					a.directions__link.animated.fadeIn.delay-1500
						figure.directions__img
							img(src='https://placeimg.com/485/175/any')
							figcaption.directions__caption Профилактика и гигиена 
			.row
				.column.xs-12.sm-12.md-4
					a.directions__link.animated.fadeIn.delay-1750
						figure.directions__img
							img(src='https://placeimg.com/485/174/any')
							figcaption.directions__caption Пародонтология 

				.column.xs-12.sm-12.md-4
					a.directions__link.animated.fadeIn.delay-2000
						figure.directions__img
							img(src='https://placeimg.com/484/178/any')
							figcaption.directions__caption Имплантация 

				.column.xs-12.sm-12.md-4
					a.directions__link.animated.fadeIn.delay-2500
						figure.directions__img
							img(src='https://placeimg.com/483/178/any')
							figcaption.directions__caption Хирургия 
