.row.align-justify.valign-middle.footer-bottom
	.column.xs-12.sm-4.md-3
		p.copy
			| © 2017 ООО 
			strong «Н.Селла»  
	.column.xs-12.sm-4.md-3.xs-text-center 
		a.conf Политика конфиденциальности
	.column.xs-12.sm-4.md-3
		p.web.sm-text-center.md-text-right 
			| Разработано в 
			a(title="Золотой партнёр 1C-Битрикс. Web-разработка и системная интеграция", href="https://webcenter.pro/", target="_blanc").web 
				img(src='images/footer-logo.png')