.footer__nav
	.footer__column
		ul.footer__list
			li.footer__item
				a.footer__link О компании 
			li.footer__item
				a.footer__link Доставка и оплата 
			li.footer__item
				a.footer__link Сервисный центр 
			li.footer__item
				a.footer__link Журнал Dental Club
			li.footer__item
				a.footer__link Медиа 
			li.footer__item
				a.footer__link Производители 
			li.footer__item
				a.footer__link Проектирование 
			li.footer__item
				a.footer__link Интернет-магазин 
			li.footer__item
				a.footer__link Обучение 
			li.footer__item
				a.footer__link Сервисный центр 
			li.footer__item
				a.footer__link Рассрочка и лизинг 
			li.footer__item
				a.footer__link Контакты  

	.footer__column
		h4.footer__title Время работы:  
		p Пн. - Чт.: 9.30 - 18.00 
		p Пт.: 9.30 - 17.00

	.footer__column
		h4.footer__title Связаться с нами:
		a.footer__title +7 (495) 771-75-39 
		a 
			small Заказать обратный звонок
		h4.footer__title Н.Селла в социальныx сетях:
		.social
			a.social__item
				b.icon-facebook
			a.social__item
				b.icon-vk