.container
	.catalog
		.catalog__item
			a.catalog__link
				span Стоматологическое оборудование
			ul.catalog-list
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd safsad sdsdf sadf a
				li.catalog-list__item
					a.catalog-list__link 2232dfd sasddfa sda
				li.catalog-list__item
					a.catalog-list__link 2232dfd asdf asdasdfasdf asddf asdasdfasdf asddf asdasdfasdf asddf asdasdfasdf asddf asdasdfasdf asdfas d
		.catalog__item
			a.catalog__link
				span Наконечники и приборы
			ul.catalog-list
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link.is-active 2232dfd safsad sdsdf sadf a
				li.catalog-list__item
					a.catalog-list__link 2232dfd sasddfa sda
				li.catalog-list__item
					a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
		.catalog__item.is-empty
			a.catalog__link
				span Медицинская оптика
		.catalog__item
			a.catalog__link
				span Системы имплантации 
			ul.catalog-list
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd safsad sdsdf sadf a
				li.catalog-list__item
					a.catalog-list__link 2232dfd sasddfa sda
				li.catalog-list__item
					a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
		.catalog__item
			a.catalog__link
				span Стоматологические материалы  и инструменты  
			ul.catalog-list
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd f g dfg
				li.catalog-list__item
					a.catalog-list__link 2232dfd safsad sdsdf sadf a
				li.catalog-list__item
					a.catalog-list__link 2232dfd sasddfa sda
				li.catalog-list__item
					a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
		.catalog__item.catalog__item--promotions
			a.catalog__link
				span Акции