
title(itemprop='Н.Селла - медицинское оборудование') Н.Селла - медицинское оборудование
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='renderer', content='webkit')
meta(name='viewport', content='width=device-width , initial-scale=1.0, user-scalable=yes')
// base settings
meta(name='application-name', content='Н.Селла - медицинское оборудование')
meta(name='description', content='Комплексная поставка медицинского и стоматологического оборудования и материалов. Монтаж и сервисное обслуживание оборудования')

// end base settings
// google
meta(property='place:location:latitude', content='')
meta(property='place:location:longitude', content='')
meta(property='business:contact_data:street_address', content='улица Волочаевская')
meta(property='business:contact_data:locality', content='Москва')
meta(property='business:contact_data:country_name', content='Россия')
meta(property='business:contact_data:email', content='manager@nsella.ru')
meta(property='business:contact_data:phone_number', content='749577175393')
meta(property='business:contact_data:website', content='http://www.nsella.ru')
// /
// Facebook Open Graph & vkontakte
meta(property='og:url', content='http://www.nsella.ru')
meta(property='og:type', content='website')
meta(property='og:site_name', content='')
meta(property='og:title', content='Н.Селла - медицинское оборудование')
meta(property='og:description', content='Комплексная поставка медицинского и стоматологического оборудования и материалов. Монтаж и сервисное обслуживание оборудования')
meta(property='og:image', content='assets/img/soc-image.png')
meta(property='og:image:type', content='image/jpg')
meta(property='og:image:width', content='604')
meta(property='og:image:height', content='315')
meta(property='og:type', content='website')
meta(property='og:locale', content='ru_RU')
// end:open graph
// Twitter Cards
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='Н.Селла - медицинское оборудование')
meta(name='twitter:title', content='Н.Селла - медицинское оборудование')
meta(name='twitter:description', content='Комплексная поставка медицинского и стоматологического оборудования и материалов. Монтаж и сервисное обслуживание оборудования')
meta(name='twitter:image', content='')
meta(name='twitter:image:alt', content='')
meta(name='twitter:creator', content='@|_matero_|')
meta(name='twitter:image:src', content='assets/img/soc-image.png')
meta(name='twitter:domain', content='Оливия')
// end: twitter cards
// Google+ / Schema.org
link(href='https://plus.google.com/+YourPage', rel='publisher')
meta(itemprop='name', content='Н.Селла - медицинское оборудование')
meta(itemprop='description', content='Комплексная поставка медицинского и стоматологического оборудования и материалов. Монтаж и сервисное обслуживание оборудования')
meta(itemprop='image', content='assets/img/soc-image.png')
// current article
meta(property='article:tag', content='керамические материалы')
meta(property='article:tag', content='сантехника')
meta(property='article:tag', content='мебель')
meta(property='article:section', content='Главная страница')
meta(property='article:published_time', content='10 часов назад')
meta(property='article:modified_time', content='2017-09-14T05:18:17+00:00')
meta(name='robots', content='index,follow')
// To use if the website supports IE8.
// if lt IE 9
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.5/es5-shim.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.5/es5-sham.min.js')
// Apple specific meta tags - see https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
meta(name='apple-mobile-web-app-capable', content='no')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='format-detection', content='telephone=yes')
// end:Apple metas
// FAVICONS
link(rel='icon', type='image/x-icon', href='images/fav.png')
meta(name='msapplication-TileImage', content='favicon/mstile-144x144.png')
link(rel='icon', type='image/png', href='favicon/favicon-16x16.png', sizes='16x16')
link(rel='icon', type='image/png', href='favicon/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='favicon/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='favicon/favicon-128x128.png', sizes='128x128')
link(rel='icon', type='image/png', href='favicon/favicon-144x144.png', sizes='144x144')
link(rel='icon', type='image/png', href='favicon/favicon-196x196.png', sizes='196x196')
// touch icons
meta(name='apple-mobile-web-app-capable', content='yes')
link(rel='apple-touch-icon', sizes='57x57', href='favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='favicon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='favicon/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon-180x180.png')
// Add to Home Screen
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black ')
meta(name='apple-mobile-web-app-title', content='Н.Селла - медицинское оборудование')
meta(name='msapplication-tooltip', content='Комплексная поставка медицинского и стоматологического оборудования и материалов. Монтаж и сервисное обслуживание оборудования')
meta(name='apple-mobile-web-app-capable', content='yes')
// Android Lollipop
meta(name='theme-color', content='#5f7fb0')
// win8
meta(name='msapplication-TileColor', content='#5f7fb0')
meta(name='msapplication-tap-highlight', content='no')
meta(name='msapplication-config', content='none')
// old mobile
meta(name='HandheldFriendly', content='true')
meta(name='MobileOptimized', content='320')
// uc
meta(name='screen-orientation', content='portrait')
meta(name='full-screen', content='yes')
meta(name='browsermode', content='application')
meta(name='yandex-verification', content='e4ac91cc02af13ff')
// styles
link(href='stylesheet/app.css', rel='stylesheet', type='text/css')

