.container
	.row
		.column.xs-12
			.box
				.row
					.column.xs-12.sm-6.md-7.lg-9
						nav.nav
							ul.nav__list
								li.nav__item
									a.nav__link(href='') О компании
								li.nav__item
									a.nav__link(href='') Доставка и оплата
								li.nav__item
									a.nav__link(href='') Сервисный центр
								li.nav__item
									a.nav__link(href='') Журнал Dental club
								li.nav__item
									a.nav__link(href='') Медиа
								li.nav__item
									a.nav__link(href='') Производители
					.column.xs-12.sm-6.md-5.lg-3
						.sm-text-left.md-text-right.lg-text-right
							.auth
								b.icon-user
								a.auth__link Войти
								span.auth__divider |
								a.auth__link Регистрация



