.header-mobile 
	.header-mobile__navigation
		.header-mobile__navigation-row
			.header-mobile__navigation-item
				.box
					.header-mobile__navigation-row
						a.navbar-toggle
							span &mdash;
							span &mdash;
							span &mdash;
						a.logo
							img(src='images/logo.png')
			.header-mobile__navigation-item.header__search--wrapper
				.header__search
					input(type='search')
			.header-mobile__navigation-item
				.box
					.basket(data-cost='1')
						b.icon-basket
						.basket__content
							.box
								a.basket__link
									| 23 989
									span.rouble р
	.header-mobile__dropdown
		.header-mobile__dropdown-wrapper
			.header-mobile__item
				.auth
					b.icon-user
					a.auth__link Вход
					span.auth__divider |
					a.auth__link Регистрация
			.header-mobile__item
				nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href='') О компании
						li.nav__item
							a.nav__link(href='') Доставка и оплата
						li.nav__item
							a.nav__link(href='') Сервисный центр
						li.nav__item
							a.nav__link(href='') Журнал Dental club
						li.nav__item
							a.nav__link(href='') Медиа
						li.nav__item
							a.nav__link(href='') Производители
			.header-mobile__item
				.catalog
					.catalog__item
						a.catalog__link
							span Стоматологическое<br>оборудование
						ul.catalog-list
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd safsad sdsdf sadf a
							li.catalog-list__item
								a.catalog-list__link 2232dfd sasddfa sda
							li.catalog-list__item
								a.catalog-list__link 2232dfd asdf asdasdfasdf asddf asdasdfasdf asddf asdasdfasdf asddf asdasdfasdf asddf asdasdfasdf asdfas d
					.catalog__item
						a.catalog__link
							span Наконечники<br>и приборы
						ul.catalog-list
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd safsad sdsdf sadf a
							li.catalog-list__item
								a.catalog-list__link 2232dfd sasddfa sda
							li.catalog-list__item
								a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
					.catalog__item
						a.catalog__link
							span Медицинская оптика
						ul.catalog-list
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd safsad sdsdf sadf a
							li.catalog-list__item
								a.catalog-list__link 2232dfd sasddfa sda
							li.catalog-list__item
								a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
					.catalog__item
						a.catalog__link
							span Системы имплантации 
						ul.catalog-list
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd safsad sdsdf sadf a
							li.catalog-list__item
								a.catalog-list__link 2232dfd sasddfa sda
							li.catalog-list__item
								a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
					.catalog__item
						a.catalog__link
							span Стоматологические<br>материалы  и инструменты  
						ul.catalog-list
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd f g dfg
							li.catalog-list__item
								a.catalog-list__link 2232dfd safsad sdsdf sadf a
							li.catalog-list__item
								a.catalog-list__link 2232dfd sasddfa sda
							li.catalog-list__item
								a.catalog-list__link 2232dfd asdf asdasdfasdf asdfas d
					.catalog__item
						a.catalog__link
							span Акции
			.header-mobile__item
				.schedule
					b.icon-clock
					div.schedule__content
						.box.xs-text-left.lg-text-right
							p.schedule__line Пн. - Чт.: 9.30 - 18.00 
							p.schedule__line Пт.: 9.30 - 17.00
			.header-mobile__item
				.phone
					b.icon-phone
					div.phone__content
						.box
							p.phone__line 
								strong
									a(href='tel:+7 (495) 771-75-39') +7 (495) 771-75-39 
							p.pnone__line 
								a(href='#modal')
									small Заказать обратный звонок





