.intro__wrapper.animatedParent
	.intro.animated.flipInX
		figure.intro__item
			img(src='images/bg-intro.jpg')
			figcaption.intro__caption
				h2.intro__title Беспроцентная рассрочка  до 6 месяцев  
				h3.intro__subtitle Специальная акция
				a.btn.btn--default Подробнее
		figure.intro__item
			img(src='https://placeimg.com/1440/505/any')
			figcaption.intro__caption
				h2.intro__title Беспроцентная до 6 месяцев  
				h3.intro__subtitle Специальная акция
				a.btn.btn--default Подробнее
		figure.intro__item
			img(src='https://placeimg.com/1440/515/any')
			figcaption.intro__caption
				h2.intro__title Беспроцентная рассрочка  до 16 месяцев  
				h3.intro__subtitle Специальная акция
				a.btn.btn--default Подробнее
		figure.intro__item
			img(src='https://placeimg.com/1440/500/any')
			figcaption.intro__caption
				h2.intro__title Беспроцентная рассрочка  до
				h3.intro__subtitle Специальная акция
				a.btn.btn--default Подробнее

