section.journal
	.container
		h1.title.title--decorated Журнал Dental Club

		.journal__intro
			p Dental CLUB – информационное издание о стоматологии. В журнале вы можете найти разнообразную информацию, касающуюся непосредственной деятельности стоматологов и зубных техников (клинические случаи и интересные примеры из практики профессионалов), менеджмента и юридических аспектов в работе стоматологических клиник.   
			p В нашем журнале мы также рассказываем о профильных событиях, учебных курсах, конгрессах и выставках в России и за рубежом.  
			p Информируем читателей о новинках компаний - производителей и об их применении в повседневной практике. 
	
	section.journal-qr
		.container
			h3.journal-qr__title Читать любимые издания на мобильных устройствах:
			.row.align-center
				.column.xs-12.sm-8.md-4
					.box
						.row.align-equally
							.column.xs-12.sm-4
								.box
									a.journal-qr__item
										span.journal-qr__image
											img(src="images/qr1.jpg", alt="")
										b.icon-google-play
										strong Google Play
							.column.xs-12.sm-4
								.box
									a.journal-qr__item
										span.journal-qr__image
											img(src="images/qr2.jpg", alt="")
										b.icon-app-store
										strong App store
			
	section.journal-body
		.container
			h2.title.title--decorated Журнал Dentan club. Выпуск №1(13)/2017
			.row
				.column.xs-12.sm-12.md-6
					figure.journal-body__img
						img(src='images/journal.jpg')
				.column.xs-12.sm-12.md-6
					.journal-body__content
						h3 Содержание № 1 (13)  2017 
						ul
							li Михаил Соломонов. Ортоградное эндодонтическое лечение dens invaginatus 3-го типа (клинический случай)  

							li Михаил Соломонов. Ортоградное эндодонтическое лечение dens invaginatus 3-го типа (клинический случай)  

							li Игорь Кузьмин. Применение тонких имплантатов Arrow у пациентов возрастной группы старше 80 лет как альтернатива костной пластике  

							li Вероника Акинфиева. Персистентные зубы: этиологические факторы, клинические алгоритмы 

							li Нателла Беняева, Анастасия Михайлова. Лечение обширных дизонтогенетических кист челюстей 

							li Ольга Еременко. Актуальные аспекты процедуры отбеливания зубов Николай Марков. Лечение пациента с дистальной окклюзией, осложненной ретенцией 23 зуба 

							li Анна Басова. Сложный человек на приеме у стоматолога. Психотерапевтические подходы Презентация. Все пришли посмотреть на NeO! 

							li Елена Липатова. «Биологические основы профилактики заболеваний тканей пульпы и периодонта» с Доменико Рикуччи 

							li Лицо с обложки. Илья Божевальников: «Успешен тот, кто объединяет профессионалов…» 

							li Татьяна Никольская. Москва. Эффективные менеджеры в стоматологии 

							li Илья Злотников. Чему стоматолог может научиться у пятизвездочных отелей? 

							li Тимофей Левицкий. Масштабирование стоматологического бизнеса. С чего начать? Часть 2 

							li Александр Семенов. Как организовать эффективную работу старшего администратора 

							li Екатерина Салыгина. Отказ врача-стоматолога, зубного техника от гарантийного перелечивания, переделки работы Мир увлечений. Тайны голубой бездны. Хобби стоматолога Татьяны Семеновой 

							li Дмитрий Журавлев. Зубное дело пушкинской.

						a.btn.btn--warning
							| ОТКРЫТЬ/СКАЧАТЬ ЭТОТ НОМЕР В PDF
							b.icon-pdf
		nav.pagination__wrapper(aria-label="Постраничная навигация")
			ul.pagination
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-left(aria-hidden="true")
				li.pagination__item
					a.pagination__link 1
				li.pagination__item
					a.pagination__link.is-active 2
				li.pagination__item
					a.pagination__link ...
				li.pagination__item
					a.pagination__link 8
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-right(aria-hidden="true")
	footer.journal__footer
		.container
			.row
				.column.xs-12.sm-12.md-4
					dl.journal-people
						dt.journal-people__position Главный редактор 
						dd.journal-people__name  
							span &mdash; 
							| Елена Горчакова
				.column.xs-12.sm-12.md-4
					dl.journal-people
						dt.journal-people__position Медицинский редактор 
						dd.journal-people__name  
							span &mdash; 
							| Илья Фридман
				.column.xs-12.sm-12.md-4
					dl.journal-people.journal-people--mail
						dt.journal-people__position По вопросам сотрудничества, размещения статей и рекламы:
						dd.journal-people__name 
							b.icon-mail
							a(href='mailto:gorchakova-elena@inbox.ru') gorchakova-elena@inbox.ru