section.manufacturer
	.container
		h1.title.title--decorated Страница производителя

		.row
			.column.xs-12.sm-12.md-5
				figure.manufacturer__img
					span
						img(src='http://placeimg.com/640/480/any')


			.column.xs-12.sm-12.md-7
				h2.manufacturer__title Описание
				p В подразделении фирмы есть несколько стоматологических клиник, успешно работающих на Московском рынке
				p В 2000 мы открыли уникальный, не имеющий аналогов GERMAN DENTAL CENTER (GDC) - Немецкий Стоматологический Центр.Немецкий Стоматологический Центр расположен в Лефортово, районе Москвы, исторически известном, как "немецкая слобода". На сегодняшний день можно смело заявить, что GERMAN DENTAL CENTER является одной из лучших клиник в Европе. 
				p Стоматологический центр Альбис оснащен самым современным и совершенным оборудованием ведущих немецких производителей. Клиника предлагает полный спектр услуг по диагностике и лечению стоматологических заболеваний по различным направлениям.

section.manufacturer__description
	.container
		.description
			header.description__header
				a.description__link.is-active Инструкции
				a.description__link Буклеты
				a.description__link Рекламные материалы
			.description__body
				.description__item.is-active
					.description__content
						h3.manufacturer__subtitle Высокоскоростные турбинные наконечники
						ul.manufacturer__list
							li.manufacturer__item 
								a.manufacturer__link
									b.icon-download-arrow-2 
									span Ti-Max X / Ti-Max XKL/XSL/ XWL/XBL 
							li.manufacturer__item  
								a.manufacturer__link 
									b.icon-download-arrow-2
									span MACH-LITE XT / 200L/300L/400L
							li.manufacturer__item  
								a.manufacturer__link
									b.icon-download-arrow-2
									span PANA Max 

						h3.manufacturer__subtitle Высокоскоростные турбинные наконечники
						ul.manufacturer__list
							li.manufacturer__item 
								a.manufacturer__link
									b.icon-download-arrow-2 
									span Ti-Max X / Ti-Max XKL/XSL/ XWL/XBL 
							li.manufacturer__item  
								a.manufacturer__link 
									b.icon-download-arrow-2
									span MACH-LITE XT / 200L/300L/400L
							li.manufacturer__item  
								a.manufacturer__link
									b.icon-download-arrow-2
									span PANA Max 

						h3.manufacturer__subtitle Высокоскоростные турбинные наконечники
						ul.manufacturer__list
							li.manufacturer__item 
								a.manufacturer__link
									b.icon-download-arrow-2 
									span Ti-Max X / Ti-Max XKL/XSL/ XWL/XBL 
							li.manufacturer__item  
								a.manufacturer__link 
									b.icon-download-arrow-2
									span MACH-LITE XT / 200L/300L/400L
							li.manufacturer__item  
								a.manufacturer__link
									b.icon-download-arrow-2
									span PANA Max 


				.description__item
					.description__content
						h2 22222


				.description__item
					.description__content
						h2 333