section.media
	.container
		h1.title.title--decorated Медиа

		.media__intro
			p Компания "Н.Селла" работает на рынке России с 1992 года. С момента создания компания активно развивалась: расширялся круг задач, изменялась организационная структура, увеличивалась численность сотрудников. Сегодня "Н.Селла" является одной из крупнейших компаний на российском стоматологическом рынке.

		h2.title.title--decorated Статьи
		article.row
			.column.xs-12.sm-12.md-5
				figure.manufacturer__img
					span
						img(src='http://placeimg.com/640/480/people')


			.column.xs-12.sm-12.md-7
				h3 Расходные материалы для стоматологов 
				p В подразделении фирмы есть несколько стоматологических клиник, успешно работающих на Московском рынке: 
				p В 2000 мы открыли уникальный, не имеющий аналогов GERMAN DENTAL CENTER (GDC) - Немецкий Стоматологический Центр.Немецкий Стоматологический Центр расположен в Лефортово, районе Москвы, исторически известном, как "немецкая слобода". На сегодняшний день можно смело заявить, что GERMAN DENTAL CENTER является одной из лучших клиник в Европе. 
				p Стоматологический центр Альбис оснащен самым современным и совершенным оборудованием ведущих немецких производителей. Клиника предлагает полный спектр услуг по диагностике и лечению стоматологических заболеваний по различным направлениям.

				a.btn.btn--warning 
					| Подробнее
					b.icon-description

		nav.pagination__wrapper(aria-label="Постраничная навигация")
			ul.pagination
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-left(aria-hidden="true")
				li.pagination__item
					a.pagination__link 1
				li.pagination__item
					a.pagination__link.is-active 2
				li.pagination__item
					a.pagination__link 3
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-right(aria-hidden="true")


section.media__description
	.container
		h2.title.title--decorated Фотоотчеты

		.row.align-center
			.column.xs-12.sm-12.md-10
				.description
					header.description__header
						a.description__link.is-active Мероприятие 1
						a.description__link Мероприятие 2
						a.description__link Мероприятие 3
						a.description__link Мероприятие 4
						a.description__link Мероприятие 5
					.description__body
						.description__item.is-active
							.description__content
								.photos
									.row
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/340/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/340/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/340/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/440/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/440/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/440/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/540/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/540/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/540/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/640/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/640/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/640/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/740/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/740/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/740/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/840/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/840/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/840/850/people", alt="")



						.description__item
							.description__content
								.photos
									.row
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/640/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/640/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/640/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/740/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/740/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/740/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/840/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/840/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/840/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/340/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/340/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/340/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/440/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/440/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/440/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/540/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/540/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/540/850/people", alt="")

						.description__item
							.description__content
								.photos
									.row
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/540/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/540/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/540/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/640/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/640/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/640/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/340/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/340/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/340/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/440/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/440/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/440/850/people", alt="")

										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/740/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/740/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/740/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/840/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/840/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/840/850/people", alt="")
						.description__item
							.description__content
								.photos
									.row

										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/840/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/840/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/840/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/340/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/340/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/340/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/440/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/440/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/440/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/540/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/540/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/540/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/640/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/640/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/640/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/740/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/740/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/740/850/people", alt="")

						.description__item
							.description__content
								.photos
									.row
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/340/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/340/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/340/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/440/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/440/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/440/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/540/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/540/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/540/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/640/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/640/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/640/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/740/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/740/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/740/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/840/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/840/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/840/850/people", alt="")

						.description__item
							.description__content
								.photos
									.row
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/340/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/340/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/340/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/440/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/440/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/440/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/540/480/people', data-fancybox="gallery", data-srcset="http://placeimg.com/540/480/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/540/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/640/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/640/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/640/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/740/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/740/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/740/850/people", alt="")
										.column.xs-12.sm-6.md-4
											a.photos__item(href='http://placeimg.com/840/850/people', data-fancybox="gallery", data-srcset="http://placeimg.com/840/850/people", data-caption="<b>Новогодний корпоратив</b>")
												figure.photos__img
													img(src="http://placeimg.com/840/850/people", alt="")


					footer.photos__footer
						nav.pagination__wrapper(aria-label="Постраничная навигация")
							ul.pagination
								li.pagination__item
									a.pagination__link 
										b.fa.fa-long-arrow-left(aria-hidden="true")
								li.pagination__item
									a.pagination__link 1
								li.pagination__item
									a.pagination__link.is-active 2
								li.pagination__item
									a.pagination__link 3
								li.pagination__item
									a.pagination__link 
										b.fa.fa-long-arrow-right(aria-hidden="true")


section.media
	.container
		h2.title.title--decorated Видео

		article.row.align-justify
			.column.xs-12.sm-12.md-6
				h3 Расходные материалы для стоматологов 
				p В подразделении фирмы есть несколько стоматологических клиник, успешно работающих на Московском рынке: 
				p В 2000 мы открыли уникальный, не имеющий аналогов GERMAN DENTAL CENTER (GDC) - Немецкий Стоматологический Центр.Немецкий Стоматологический Центр расположен в Лефортово, районе Москвы, исторически известном, как "немецкая слобода". На сегодняшний день можно смело заявить, что GERMAN DENTAL CENTER является одной из лучших клиник в Европе. 
				p Стоматологический центр Альбис оснащен самым современным и совершенным оборудованием ведущих немецких производителей. Клиника предлагает полный спектр услуг по диагностике и лечению стоматологических заболеваний по различным направлениям.

				a.btn.btn--warning 
					| Подробнее
					b.icon-description
			.column.xs-12.sm-12.md-5
				a(data-fancybox, href='href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&autoplay=1&rel=0&controls=0&showinfo=0"')
					figure.media__video
						span
							img(src='http://placeimg.com/540/380/people')


		nav.pagination__wrapper(aria-label="Постраничная навигация")
			ul.pagination
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-left(aria-hidden="true")
				li.pagination__item
					a.pagination__link 1
				li.pagination__item
					a.pagination__link.is-active 2
				li.pagination__item
					a.pagination__link ...
				li.pagination__item
					a.pagination__link 8
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-right(aria-hidden="true")
