.pattern--light
	.actions
		.container
			.actions__wrapper
				.actions-slider
					.actions-slider__item-wrapper
						div.actions-slider__item
							.new
								time.new__time 27.02.2017
								h3.new__title Lorem ipsamet, consectetur adipisicing elit.
								p.new__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore perspiciatis asperiores veritatis itaque ratione non alias, enim distinctio amet tenetur pariatur quas optio, ducimus, porro blanditiis repudiandae incidunt! 
									a(href="detail-news.html").new__link Подробнее
					.actions-slider__item-wrapper
						div.actions-slider__item
							.new
								time.new__time 27.02.2017
								h3.new__title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								p.new__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. m distinctio amet tenetur pariatur quas optio, ducimus, porro blanditiis repudiandae incidunt! Quod, ratione. 
									a(href="detail-news.html").new__link Подробнее
					.actions-slider__item-wrapper
						div.actions-slider__item
							.new
								time.new__time 27.02.2017
								h3.new__title Lorem ipsum dolornsectetur adipisicing elit.
								p.new__body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lporro blanditiis repudiandae incidunt! Quod, ratione. 
									a(href="detail-news.html").new__link Подробнее



