.store__intro
	h1.title.title--decorated.title--store Название акции

	.expand-block
		p NTEGO – лучшая установка в своем классе. Она опирается на мощь инноваций и превосходный отмеченный наградами дизайн наших стоматологических установок. Надежно содействуя эффективной врачебной клинике, INTEGO обладает всеми качествами, гарантирующими оптимальный рабочий процесс: эргономичным дизайном, высокими стандартами производства и отличным соотношением цены и качества – вот благодаря чему INTEGO является эталоном высокой надежности.
		p Лучшая установка в своем классе. Она опирается на мощь инноваций и превосходный отмеченный наградами дизайн наших стоматологических установок. Надежно содействуя 
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Iste quaerat commodi vel adipisci labore incidunt distinctio, impedit quia blanditiis asperiores officia aliquam nihil maxime dolorum numquam.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consecteturaliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum aliquam. Iste quaerat commodi vel adipisci labore incidunt distinctio, impedit quia blanditiis asperiores officia aliquam nihil maxime dolorum numquam.
	.expand-block__footer
		a.expand-block__link
			b.icon-scroll-down



