
h1.title.title--decorated.title--store Название акции
.promotion-detail
	article.promotion-detail__item
		b.icon-gift
		p.promotion-detail__label Срок действия до 27.02.2017 &mdash;
		.row.valign-stretch
			.column.xs-12.sm-12.md-4
				div.promotion-detail__link
					.promotion-detail__images
						span
							img(src="images/promotion-detail__image-1.png")
						span
							img(src="images/promotion-detail__image-2.png")
			.column.xs-12.sm-12.md-8
				.promotion-detail__content
					p.promotion-detail__text При покупке физдиспенсера линейки SurgicPro LED компании NSK по специальной цене, бинокулярная лупа ESCHENBACH в подарок!
					p.promotion-detail__text Surgic Pro LED (с оптикой) — 2769 $
					p.promotion-detail__text Surgic Pro + LED (с оптикой) — 2960 $


