.container.container--promotions-list
	.promotions
		article.promotion__item
			.promotion__label Срок действия до 27.02.2017
			.promotion__wrapper
				.row.valign-stretch
					.column.xs-12.sm-12.md-4
						a.promotion__link
							figure.promotion__image
								img(src="http://placeimg.com/490/275/any")
					.column.xs-12.sm-12.md-8
						.promotion__content
							h2.promotion__title Название акции
							p.promotion__text Cтоматологических установок. Надежно содействуя эффективной врачебной клинике, INTEGO обладает всеми качествами, гарантирующими оптимальный рабочий процесс: эргономичным дизайном, высокими стандартами.
							a.btn.btn--warning
								| Подробнее
								b.icon-description


		article.promotion__item
			.promotion__label Срок действия до 27.02.2017
			.promotion__wrapper
				.row.valign-stretch
					.column.xs-12.sm-12.md-4
						a.promotion__link
							figure.promotion__image
								img(src="http://placeimg.com/490/365/any")
					.column.xs-12.sm-12.md-8
						.promotion__content
							h2.promotion__title Название акции
							p.promotion__text Лучшая установка в своем классе. Она опирается на мощь инноваций и превосходный отмеченный наградами дизайн наших стоматологических установок. Надежно содействуя эффективной врачебной клинике, INTEGO обладает всеми качествами, гарантирующими оптимальный рабочий процесс: эргономичным дизайном, высокими стандартами.
							a.btn.btn--warning
								| Подробнее
								b.icon-description


		article.promotion__item
			.promotion__label Срок действия до 27.02.2017
			.promotion__wrapper
				.row.valign-stretch
					.column.xs-12.sm-12.md-4
						a.promotion__link
							figure.promotion__image
								img(src="http://placeimg.com/490/465/any")
					.column.xs-12.sm-12.md-8
						.promotion__content
							h2.promotion__title Название акции
							p.promotion__text INTEGO обладает всеми качествами, гарантирующими оптимальный рабочий процесс: эргономичным дизайном, высокими стандартами.
							a.btn.btn--warning
								| Подробнее
								b.icon-description


		article.promotion__item
			.promotion__label Срок действия до 27.02.2017
			.promotion__wrapper
				.row.valign-stretch
					.column.xs-12.sm-12.md-4
						a.promotion__link
							figure.promotion__image
								img(src="http://placeimg.com/490/265/any")
					.column.xs-12.sm-12.md-8
						.promotion__content
							h2.promotion__title Название акции
							p.promotion__text Она опирается на мощь инноваций и превосходный отмеченный наградами дизайн наших стоматологических установок. Надежно содействуя эффективной врачебной клинике, INTEGO обладает всеми качествами, гарантирующими оптимальный рабочий процесс: эргономичным дизайном, высокими стандартами.
							a.btn.btn--warning
								| Подробнее
								b.icon-description

	footer.promotions__footer
		nav.pagination__wrapper(aria-label="Постраничная навигация")
			ul.pagination
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-left(aria-hidden="true")
				li.pagination__item
					a.pagination__link 1
				li.pagination__item
					a.pagination__link.is-active 2
				li.pagination__item
					a.pagination__link ...
				li.pagination__item
					a.pagination__link 8
				li.pagination__item
					a.pagination__link 
						b.fa.fa-long-arrow-right(aria-hidden="true")