.related
	.container
		h2.title.title--centered.title--decorated С этим товаром заказывают

		.row
			.column.xs-12.sm-6.md-6.lg-3
				.product
					a.product__link.product__link--image
						figure.product__image
							img(src='http://placeimg.com/640/480/any')
					.product__body
						a.product__link.product__link--title
							h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
						.product__content
							.product__info
								.row.valign-middle.gutter-remove
									.column.xs-6 
										s.product__cost--old 65 000 руб. 
										strong.product__cost 40 000 руб.
									.column.xs-6
										a.btn.btn--secondary
											| Сравнить
											b.fa.fa-list-ul(aria-hidden='true')
							footer.product__footer
								a.btn.btn--warning 
									| Добавить в корзину
									b.icon-basket-white
			.column.xs-12.sm-6.md-6.lg-3
				.product
					a.product__link.product__link--image
						figure.product__image
							img(src='http://placeimg.com/640/480/any')
					.product__body
						a.product__link.product__link--title
							h3.product__title MELAG MELAG MEDICAL TECHNOLOGY
						.product__content
							.product__info
								.row.valign-middle.gutter-remove
									.column.xs-6 
										s.product__cost--old 65 000 руб. 
										strong.product__cost 40 000 руб.
									.column.xs-6
										a.btn.btn--secondary
											| Сравнить
											b.fa.fa-list-ul(aria-hidden='true')
							footer.product__footer
								a.btn.btn--warning 
									| Добавить в корзину
									b.icon-basket-white
			.column.xs-12.sm-6.md-6.lg-3
				.product
					a.product__link.product__link--image
						figure.product__image
							img(src='http://placeimg.com/640/480/any')
					.product__body
						a.product__link.product__link--title
							h3.product__title MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL MELAG MEDICAL TECHNOLOGY
						.product__content
							.product__info
								.row.valign-middle.gutter-remove
									.column.xs-6 
										s.product__cost--old 65 000 руб. 
										strong.product__cost 40 000 руб.
									.column.xs-6
										a.btn.btn--secondary
											| Сравнить
											b.fa.fa-list-ul(aria-hidden='true')
							footer.product__footer
								a.btn.btn--warning 
									| Добавить в корзину
									b.icon-basket-white
			.column.xs-12.sm-6.md-6.lg-3
				.product
					a.product__link.product__link--image
						figure.product__image
							img(src='http://placeimg.com/640/480/any')
					.product__body
						a.product__link.product__link--title
							h3.product__title MELAG 
						.product__content
							.product__info
								.row.valign-middle.gutter-remove
									.column.xs-6 
										s.product__cost--old 65 000 руб. 
										strong.product__cost 40 000 руб.
									.column.xs-6
										a.btn.btn--secondary
											| Сравнить
											b.fa.fa-list-ul(aria-hidden='true')
							footer.product__footer
								a.btn.btn--warning 
									| Добавить в корзину
									b.icon-basket-white
