section.vacancies
	.container
		h1.title Сервисный центр
		.vacancies__intro
			p
				strong «Пусть другие покупают то,  что можно починить»
			p Исправное оборудование – залог успешной работы любой клиники и частной стоматологической практики. 
			p Но, к сожалению, в силу различных причин (неправильная установка, эксплуатация или просто давний срок службы) оборудование выходит из строя. В этом случае не стоит заниматься «самолечением» - обратитесь к профессионалам!    
			p Гарантия качественного ремонта – это высокая квалификация и многолетний опыт работы наших специалистов.  Наши инженеры постоянно проходят обучение и сертификацию на базе фирм-производителей стоматологического оборудования. 
	.service__bg
		img(src='images/bg-service-center.png')



section.vacancies__advantages
	.container
		h2.title.title--decorated Преимущества
		.row.align-justify
			.column
				.vacancies__item
					b.icon-vacancies
					strong Опыт
			.column
				.vacancies__item
					b.icon-vacancies
					strong Качество
			.column
				.vacancies__item
					b.icon-vacancies
					strong Экспертное мнение

section.vacancies__description
	.container
		.row
			.column.xs-12.sm-11.md-10
				h3 Если у вас вышло из строя крупногабаритное стационарное оборудование – вызовите инженера Н.Селла!
				p 
					| Заполните форму« 
					a(href='engineer-call.html') Вызов инженера
					| ». Наши специалисты приедут к вам в удобное время, проведут диагностику и отремонтируют. 
				h3 Стоимость выезда специалиста: 
				ul
					li в пределах МКАД - 1 100 рублей; 
					li до 20 км от МКАД - 1 800 рублей;
					li свыше 20 км от МКАД  - от 3600 рублей;  

				p Стоимость диагностики крупногабаритного оборудования – от 720 рублей. 
				p 
					i Если вы ремонтируете у нас – диагностика бесплатна!
				p Оплата ремонтных работ производится по прайс - листу  - от 1 440 рублей за час работы специалиста, в зависимости от вида оборудования и сложности работ. 
				p Нестационарное оборудование,  приборы и наконечники привозите на диагностику и ремонт к нам! 
				p Стоимость диагностики приборов и наконечников  - от 300 рублей.
				p.mb45 Сроки диагностики и ремонта Вашего оборудования уточняйте у наших инженеров. 

				h3 Чтобы отправить оборудование в ремонт:
				ol.numered
					li 
						| Скачайте 
						a Заявку на ремонт 
						| и заполните её. Обратите внимание на текст Договора, размещенный на втором листе.
					li Передайте заполненную Заявку на ремонт вместе с оборудованием по адресу: 111033, г. Москва, улица Волочаевская, дом 12а, строение 1, компания "Н.СЕЛЛА", Сервисный Центр.
				<br>


section.license
	.container
		h2.title.title--decorated Лицензии
		p Сервисный центр Н.Селла имеет лицензию Федеральной службы по надзору в сфере здравоохранения и социального развития на осуществление деятельности по обслуживанию медицинской техники, что позволяет выполнять: 
		ul
			li Ремонт различного стоматологического оборудования (от наконечников до установок); 
			li Проведение монтажных работ (инсталляция, демонтаж крупногабаритного оборудования); 
			li Проведение технических  работ, согласно рекомендациям производителей; 
			li Гарантийный ремонт;
			li Диагностику и замену запчастей приборов и инструментов.

		a.btn.btn--warning 
			| Открыть/скачать лицензию в pdf
			b.icon-pdf

section.repairs
	.container
		h2.title.title--decorated Гарантийный ремонт
		p Доставка (или вызов инженера)  и диагностика оборудования  передаваемого в сервис на гарантийный ремонт – бесплатно!
		p Срок гарантийного ремонта товара составляет от 5 (пяти) дней в зависимости от сложности ремонта и наличия запасных частей. 

section.specialists
	.container
		h2.specialists__title Вы всегда можете обратиться к нашим специалистам: 
		.row.specialists__row
			.column.xs-12.sm-12.md-6.specialists__column
				h3.specialists__subtitle По техническим вопросам:
				.specialists__block
					.specialists__item
						.specialists__icon
							b.icon-phone
						.specialists__description
							a(href='tel:+7 (495) 771-75-39') +7 (495) 771-75-39
							small (добавочные номера 155, 222)
					.specialists__item
						.specialists__icon
							b.icon-mail
						.specialists__description
							a(href='mailto:tc@nsella.ru') tc@nsella.ru
			.column.xs-12.sm-12.md-6.specialists__column
				h3.specialists__subtitle По организационным вопросам:
				.specialists__block
					.specialists__item
						.specialists__icon
							b.icon-phone
						.specialists__description
							a(href='tel:+7 (495) 771-75-39') +7 (495) 771-75-39
							small (добавочные номера 155, 222)