.subscribe
	.container
		.row.valign-middle.align-center
			.column.xs-12.md-6.xs-text-center.sm-text-center.md-text-right
				h3.subscribe__title Подпишитесь и получайте дополнительные скидки
			.column.xs-12.md-6.xs-text-center.sm-text-center.md-text-left
				form
					input(type='email', placeholder='Введите ваш email', required)
					button.btn.btn--default Подписаться
