.subscribe
	.container
		.row.valign-middle
			.column.xs-12.md-6.xs-text-center
				h3.subscribe__title Подпишитесь и получайте дополнительные скидки
			.column.xs-12.md-6
				form
					input(type='email', placeholder='Введите ваш email', required)
					button.btn.btn--default Подписаться
