section.vacancies
	.container
		h1.title Вакансии
		.vacancies__intro
			p Работа в Н.Селла — это возможность карьерного и профессионального роста каждого работника. Компания нацелена на создание стабильной, уверенной в себе, сплоченной команды профессионалов, преданных корпоративным ценностям. 
	.vacancies__bg



section.vacancies__advantages
	.container
		h2.title.title--decorated Мы предлагаем Вам
		.row
			.column.xs-12.sm-4
				.vacancies__item
					b.icon-vacancies
					strong Оформление согласно ТК РФ с первого дня и социальный пакет
			.column.xs-12.sm-4
				.vacancies__item
					b.icon-vacancies
					strong Официальную заработную плату с индивидуальными премиями по результатам работы
			.column.xs-12.sm-4
				.vacancies__item
					b.icon-vacancies
					strong Офис в шаговой доступности от метро и удобный график работы

section.vacancies__description
	.container
		.row
			.column.xs-12.sm-11.md-10
				h3 Вы сможете: 
				ul
					li легко освоить необходимые навыки  - для новых сотрудников  действует  Программа обучения и адаптации; 
					li получить новые знания – в этом помогут семинары; 
					li профессионально развиваться под руководством профессионалов; 
					li дружественная атмосфера внутри коллектива позволит получать удовольствие от работы и собственных успехов каждый день! 

				h3 Дополнительные возможности и бонусы: 
				ul
					li оплата корпоративной сим-карты; 
					li кухня с чаем и плюшками)); 
					li льготное стоматологическое обслуживание для сотрудников и членов их семей.     
				h3 Мы ждем активных, ответственных, позитивных людей, желающих расти и развиваться, работать и зарабатывать! 



section.vacancies__list
	.container
		h2.title.title--decorated Сейчас в нашей компании открыты следующие вакансии:
		article.vacancies__article
			.row
				.column.xs-12.sm-11.md-6
					h3 Менеджер по продажам/Региональный менеджер по продажам стоматологического оборудования
					ul
						li Москва, полный рабочий день
						li Опыт работы от 1 до 3 лет 
						li От 30 000 до 90 000 руб. (фиксированный оклад + достойный % от личных продаж) 
					h4 Должностные обязанности: 
					ul
						li поиск клиентов; работа с существующей клиентской базой; 
						li ведение переговоров и выявление потребностей у клиентов; 
						li активные продажи и демонстрации; 
						li участие в мероприятиях (выставки, семинары и т.п.). 
					p Нюансы функционала обсуждаются при встрече. 
				.column.xs-12.sm-11.md-6
					h4 Требования к кандидату: 
					ul
						li высшее или неоконченное высшее образование; 
						li опыт активных продаж и ведения переговоров; 
						li знание технологий продаж; 
						li опытный пользователь ПК (Excel, 1С: 8 - ТиС). 
					p Будет Вашим преимуществом, если Вы имеете опыт продаж стоматологического оборудования (дентальная область), а также: 
					ul
						li не мыслите жизнь без общения; 
						li получаете удовольствие от результата; 
						li любите находить подходы к разным людям. 
						li желаете расти, развиваться, зарабатывать, а не работать. 
						li Английский язык базовый 
						li Водительские права категории B   
		article.vacancies__article
			.row
				.column.xs-12.sm-11.md-6
					h3 Ассистент менеджера по продажам (без поиска клиентов, не продажи!) / Оператор 1С
					ul
						li Москва  35 000 руб., полный рабочий день  
						li Опыт работы от 1 до 3 лет 
						li неполное высшее образование 

					h4 Должностные обязанности: 
					ul
						li Ведение базы данных по существующим клиентам, полное сопровождение клиентов; 
						li Контроль соблюдения графика заказов, получение и обработка заказов в программе 1С: 
						li Подготовка и заключение договоров. 
						li Оформление документов (счетов, с/фактур, накладных и пр.). 
						li Согласование отгрузок по времени и месту с клиентами, согласование возвратов. 
						li Участие в выставках 

				.column.xs-12.sm-11.md-6
					h4 Требования к кандидату: 
					ul
						li высшее или неоконченное высшее образование; 
						li опыт работы от 1 года; 
						li опытный пользователь ПК (Excel, 1С: 8 - обязательно!); 
						li грамотная речь, приятная внешность.   

footer.vacancies__footer
	.container
		h4 По всем интересующим вопросам обращайтесь: 
		p Капустина Юлия Валерьевна 
		p 
			| Телефон: 
			a(href="tel:+74957717539")  +7 (495) 771-75-39
			| (доб. 127) 
		p 
			| E-mail:
			a(href="mailto:kapustina@nsella.ru")  kapustina@nsella.ru