doctype html
html
	head
	include layouts/head.pug
	body
		header.header.animatedParent
			.header__top.animated.fadeInDownShort
				include layouts/header_top.pug
			.header__middle.animated.growIn
				include layouts/header_middle.pug
			.header__bottom.animated.fadeInUpShort
				include layouts/header_bottom.pug
		header.header-mobile.animatedParent
			include layouts/header_mobile.pug
		main.main
			.container
				.row
					.column.xs-12
						include layouts/intro.pug
						include layouts/services.pug
			include layouts/directions.pug
			include layouts/actions.pug
			include layouts/news.pug
			include layouts/brands.pug
			include layouts/subscribe.pug
		footer.footer
			.container
				.row
					.column.xs-12
						.box
							include layouts/footer_top.pug
							include layouts/footer_bottom.pug

	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(src='javascript/app.min.js')
