doctype html
html
	head
	include layouts/head.pug
	body
		main.main
			.container
				.row
					.column.xs-12
						h2.ui-title Заголовки

						.title Заголовок секции
						.title.title--decorated Заголовок секции с декорированный
						.title.title--centered Заголовок секции центрированный
						.title.title--centered.title--decorated Заголовок секции центрированный и декорированный

						hr
					.column.xs-12.sm-6.md-4
						h2.ui-title Иконки
						.icon-slide-1 <br>
						.icon-slide-2 <br>
						.icon-slide-4 <br>
						.icon-slide-3 <br>
						.icon-slide-5 <br>
						.icon-slider-arrow-next-active <br>
						.icon-slider-prev <br>
						.icon-facebook <br>
						.icon-vk <br>
						.icon-view-1 <br>
						.icon-detail-slider-arrow <br>
						.icon-basket <br>
						.icon-phone <br>
						.icon-scroll-down <br>
						.icon-basket-white <br>
						.icon-clock <br>
						.icon-zoom <br>
						.icon-campare <br>
						.icon-description <br>
						.icon-marker <br>
						.icon-select-arrow <br>
						.icon-user <br>
						.icon-download-arrow <br>
						.icon-menu-arrow 

						hr
					.column.xs-12.sm-6.md-4
						h2.ui-title Кнопки
						p
							a.btn.btn--default Обычная кнопка
							a.btn.btn--warning 
								| Кнопка подробнее 
								b.icon-description
							a.btn.btn--light Кнопка светлая
							a.btn.btn--secondary Кнопка тёмная
							a.btn.btn--addrow Кнопка тёмная
						hr
					.column.xs-12
						h2.ui-title Паттерны

						hr
					.column.xs-12
						h2.ui-title Большие блоки

						hr
					.column.xs-12
						h2.ui-title Элементы

						hr






	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(src='javascript/app.min.js')
